* {
  font-family: 'Nanum Gothic Coding', monospace;
  margin: 0;
  padding: 0;
}
:root{
  --ok_color : #13bd7e;
  --warn_color : #ffbe4c;
  --no_color : #f53e50;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
}

.container #control{
  z-index : 999;
}

.vid {
  flex: 0 1 auto;
  height: 360px;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.login-dark h2{
  font-size: 3vw;
}

.login-dark {
  height: 1000px;
  width : 100%;
  font-size: 3vw;
  background-size: cover;
  position: relative;
}

.login-dark div {
  width: 80%;
  border-bottom: 3px solid #13bd7e;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.7em;
  color: #333A44;

}

.login-dark div h5{
  font-size: 1em;
}


.login-dark div .form-control {
  width: 70%;
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  font-size: 0.7em;
  color: inherit;
}

.login-dark div .btn-primary {
  background: #13BD7E;
  border: none;
  width: 90%;
  height: 5%;
  border-radius: 30px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  font-size: 0.7em;
  outline: none;
}
#control{
  height: auto;
}

#control button {
  background: #1e2833;
  border: none;
  border-radius: 8vh;
  font-size: 1em;
  margin : 1vh;
  width: 3vh;
  height: 3vh;
  font-size: 0.7em;
  box-shadow : 0 0 0.5em black;
  text-shadow: none;
  outline: none;
}

.login-dark div .btn-primary:hover, .login-dark div .btn-primary:active {
  background: #0e9360;
  outline: none;
}

.login-dark div .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark div .forgot:hover, .login-dark div .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark div .btn-primary:active {
  transform: translateY(1px);
}

#control{
  position: fixed;
  bottom: 33vh;
  margin: 0;
  padding: 0;
  height: 3vh;
  right: 3vh;
  width : 5vh;
  height: 5vh;
  text-align: left;
}

#control button{
  width : 5vh;
  height : 5vh;
}

#settings button{
  width : 5vh;
  height : 5vh;
}

#overlay {
  position: absolute;
  left: 0px;
  top: 0px;
}

#overlay #content #localMedia{
  position: fixed;
  left: 10px;
  bottom: 1px;
}

#videoMedia{
  height: 0;
  width: 100%;
}

#localMedia{
  display: inline-block;
}

#localMedia .vid{
  float: right;
  height: 18vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom : 3vh;
  box-shadow : 0 0 0.5em black;
  z-index: -1;
}

#others{
  width: 100%;
}

#remoteVideos{
  position: fixed;
  display: inline-block;
  right: 0;
  top: 0;
  width: 20%;
  margin-top:3vh;
  margin-bottom:3vh;
  margin-right:2vw;
}

#remoteVideos .vid{
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
  box-shadow : 0 0 0.5em black;
  opacity: 0.6;
}

i{
  color: white;
}

#content i{
  float: right;
  font-size: 3vw;
  padding : 1vh;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#others{
  width: 100%;
  height: 100%;
}

#control #exitButton{
  background: #f2f2f2;
}



#exitButton svg{
  color: black;
}

#settings{
  position: fixed;
  bottom : 5vh;
  height: 3vh;
  right: 3vh;
  width : 5vh;
  height: 5vh;
  margin: 0;
  padding: 0;
  text-align: left;
  background: none;
  border: none;
}

#settingDiv{
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#settingDiv Button{
  background: #1e2833;
  border: none;
  border-radius: 8vw;
  width: 8vh;
  height: 8vh;
  font-size: 0.7em;
  box-shadow : 0 0 0.5em black;
  text-shadow: none;
  outline: none;
}

#mainDiv {
  width : 100%;
  padding : 2%;
}

#mainDiv div{
  word-break:break-all;
  margin-bottom : 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  box-shadow: 0 6px 8px -8px grey;

}

#main_status{
  width : 100%;
  height: 45vw;
}

#mainDiv #main_search, #main_table{
  width : 100%;
  height : auto;
}

#main_search * {
  display: inline;
  font-size: 1em;
}
#main_search input{
  width : 83%;
  border : 1px grey;
  outline : none;
  
}
#main_search button{
  width : 14%;
  height : 4vh;
  background: #877af5;
  border: none;
  border-radius: 20px;
  box-shadow: none;
  text-shadow: none;
  font-size: 1em;
  outline: none;
  color: white;
  font-weight: bold;
}

th, td, p, h2, input {
  font-family: 'Nanum Gothic Coding', monospace;
}
th, td, table{
  text-align: center;
}

#monitor_breath_div {
  width: 100%;
}

#main_status div{
  display: inline-block;
  width : 32%;
  height : 3%;
  box-shadow: none;
}

#monitor_div{
  border: none;
  outline: none;
  
}

.individual_div{
  display: inline-block;
  margin: 4px;
  padding: 5px;
  width : 30%;
  height: 13%;
  background-color: #5c818a;
  border : 1px;
  border-radius: 40px;
}

